# Public Pantheon+/SH0ES covariance uploads are documented as external data unless redistribution is cleared.
/Pantheon_SH0ES_cov.txt.gz
/data/pantheon/Pantheon_SH0ES_cov.txt.gz
/data/pantheon/raw/Pantheon+SH0ES.dat
/data/pantheon/raw/Pantheon+SH0ES_STAT+SYS.cov
/data/pantheon/external/
/data/pantheon/raw/Pantheon+SH0ES.dat.txt
/data/pantheon/raw/Pantheon+SH0ES_STAT+SYS.cov(1).txt
